header {
    height: 100vh;
}

.logos {
    height: 100px;
}

.partners-head {
    margin: 5% 80px;
}

.partners-head h2 {
    font-size: 5rem;
}

.cpy-nav {
    text-align: center;
    padding: 10px;
    margin: 20px 0 20px 0;
    transition: all 1s;
}

.cpy-nav img {
    width: 200px;
    cursor: pointer;
}

.logo-active img {
    transform: translateY(-15px);
    transition-duration: 500ms;
    z-index: 100;
    width: 210px;
}

.cpy-nav::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #009adf;
    -webkit-transform: translateY(20px) scale(0);
    transform: translateY(20px) scale(0);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    z-index: 200;
}

.logo-active::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #8ec1e1;
    -webkit-transform: translateY(20px) scale(1);
    transform: translateY(20px) scale(1);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    z-index: 200;
}



.cpy-info {
    z-index: 10;
    margin: 30px 0 10px 0;
    background-color: transparent;
}

.cpy-info-block {
    margin: 10px;
    padding: 20px;
    border-radius: 50px;
}

.carousel img {
    height: 400px;
    width: 571px;
}

.carousel:hover {
    -webkit-box-shadow: 0px 2px 18px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 18px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 18px 4px rgba(0, 0, 0, 0.5);
}

.carousel-control-prev, .carousel-control-next, .carousel-indicators {
    z-index: 110;
}

.cpy-opps {
    margin: 50px auto 20px;
}

.card {
    margin: 20px;
    transition: all 0.5s;
} 

.card:hover {
    -webkit-box-shadow: 0px 2px 18px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 18px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 18px 4px rgba(0, 0, 0, 0.5);
}




